<header>
  <div class="header-container">
    <h1>Watched TV Shows</h1>
    <nav>
      <button onclick="window.location.href='/'">List View</button>
      <button onclick="window.location.href='/tier'">Tier List View</button>
    </nav>
  </div>
</header>
