services:
  plex-watched-tracker:
    build: .
    container_name: plex-watched-tracker
    image: plex-watched-tracker
    environment:
      - PLEX_SERVER_IP=${PLEX_SERVER_IP}
      - PLEX_SERVER_PORT=${PLEX_SERVER_PORT}
      - PLEX_TOKEN=${PLEX_TOKEN}
      - ADMIN_TOKEN=${ADMIN_TOKEN}
      - PORT=${PORT}
    volumes:
      - ${DATA_DIR}:/usr/src/app/data
    ports:
      - "${PORT}:3000"
    env_file:
      - .env
