body {
  font-family: 'Helvetica Neue', Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #121212;
  color: #e0e0e0;
  font-size: 22px;
}

.tier-list-container {
  background: #1f1f1f;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  width: 80%;
  max-width: 1000px;
  margin: 20px auto;
}

.tier-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.tier {
  display: flex;
  align-items: stretch;
  border: 1px solid #333;
  border-radius: 5px;
  background: #2c2c2c;
}

.tier-label {
  font-weight: bold;
  width: 50px;
  text-align: center;
  background: #4caf50;
  color: #fff;
  border-right: 1px solid #333;
  padding: 10px 0;
  border-radius: 5px 0 0 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.tier-items {
  display: flex;
  gap: 10px;
  padding: 10px;
  flex-wrap: wrap;
  flex: 1;
}

.item-pool {
  display: flex;
  gap: 10px;
  margin-top: 20px;
  flex-wrap: wrap;
}

.item {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80px;
  cursor: pointer;
  transition: transform 0.2s;
}

.item:hover {
  transform: scale(1.1);
}

.item img {
  width: 100%;
  height: auto;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

.item-title {
  margin-top: 5px;
  font-size: 13px;
  text-align: center;
}

#toggle-drag {
  background-color: #4caf50;
  color: #fff;
  border: none;
  padding: 10px 20px;
  font-size: 0.9rem;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

#toggle-drag:hover {
  background-color: #45a049;
}
